%p Hello #{@user.first_name},

%p Thanks for creating an account on Stormtroopers. We're ready to confirm your account. All we need to do is make sure this is the correct email address.

%p= link_to "Confirm my account",
            "#{ENV["FRONTEND_DOMAIN"]}/v1/confirmation?confirmation_token=#{@user.confirmation_token}"

%p You must confirm your account for 24 hours.

%p Thank you for signing up.
